#banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 620px;
  width: 830px;
}

#result {
  position: absolute;
  top: 280px;
  width: 500px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 50px;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 620px;
  width: 830px;
  background-repeat: no-repeat;
  background-size: conatin;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.box {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 75px;
  height: 100px;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  backface-visibility: hidden;
  /* transform: rotateY(180deg); */
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  backface-visibility: hidden;
  transform: rotateY(180deg);
 
}

.btn {
  transform: translateY(150px)
}

.box.fill {
  transform: rotateY(180deg);
}

.showScore {
  display: flex;
  width: 220px;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-size: 50px;
  transform: translateY(-50px)
}

.score-banker {
  color: yellow;
}

.score-player {
  color: blue;
}
